@mixin noscrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

@function getContrastColor($color) {
  $red : red($color);
  $green : green($color);
  $blue : blue($color);
  
  $yiq : (($red * 299) + ($green * 587) + ($blue * 114)) / 1000;
  
  @if ($yiq >= 128) {
    @return #000000; // Return black for light backgrounds
  } @else {
    @return #ffffff; // Return white for dark backgrounds
  }
}