.hero {
  margin: auto;
  padding-top: 30px;
  .title-wrapper {
    height: 120px;
    position: relative;
    font-size: 4em;
    text-align: center;
    margin: 10px 0;
    .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.2em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
      overflow: hidden;
      .letter {
        display: inline-block;
        line-height: 1em;
        transform-origin: 0 0;
        font-weight: 600;
        color: $secondary-color;
        -webkit-text-stroke: 2px;
        -webkit-text-stroke-color: $dark;
      }
    }
  }
  .description {
    font-size: 1.5em;
    text-align: center;
  }
  @media screen and (max-width:500px) {
    .title-wrapper {
      font-size: 3em;
      height: 100px;
      margin-bottom: 0;
    }
    .description {
      font-size: 1.3em;
    }
  }
  @media screen and (max-width:300px) {
    .title-wrapper{
      font-size: 2.6em;
      height: 80px;
    }
  }
}
